:root {
    --primary: rgb(23, 152, 212);

}
/*rgb(23, 152, 212);*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav .navbar a:hover{
    color: red;
    transition: all ease-in-out .5s;
    transform: scale(1.1);
}

#section-a {
    position: relative;
    background: url(images/doctor2.jpg);
    background-size: 100%;
    background-position: center;
    width: 100;
    height: 100vh;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 11rem;
    left: 2rem;
}
.header{
    animation: heading;
    animation-duration: 5s;
    transition: all 1s ease-in;

}
.header .btn{
    animation: link;
    animation-duration: 5s;
    transition: all 5s ease-in;
    animation-direction: reverse;
}


@keyframes heading{
    from{top: 0px;}
    to {top: 200px;}
}
@keyframes link{
    from{top: 10px;}
    to {top: 1000px;}
}
.header a{
    background-color: orange;
}

.header a:hover{
    background-color: red;
    color: white;
    transition: all 1s ease-in;
}
.header h1{
    color: var(--primary);
    line-height: 2rem;
}
#section-b {
    text-align: justify;
    position: relative;
}

#section-b .container{
    padding: 0 4rem;
}

#section-b .container .row .col-md-4{
    padding: 0 1px;
}
#section-b .container .row .col-md-4>div:hover{
   cursor: pointer;
   transform: scale(1.01);
   background-color: rgb(71, 9, 43);
}
#section-b .container .row .col-md-4>div{
    background-color: rgb(10, 119, 207);
    position: relative;
    top: -40px;
    padding: 1rem;
    color: #fff;
}

#section-b .right{
    text-align: center;
}

#section-b .left{
    text-align: center;
}

#section-b .center{
    text-align: center;
}

#section-b .fa{
    font-size: 3rem;
}

#section-b .left p{
    text-align: justify;
}
#section-b .right p{
    text-align: justify;
}
#section-b .center p{
    text-align: justify;
}

#section-c{
    margin: 0 10px;
}
#section-c h4{
    text-align: center;
    font-weight: bold;
}
footer{
    background-color: rgb(7, 17, 22);
    color: #fff;
    padding-top: 3rem;
    text-align: center;
}
footer .connect{
    text-align: center;
}
footer .connect li{
    font-size: 2rem;
    border: 1px solid #fff;
    padding: 10px 1rem;
}

@media(max-width:990px){
    #section-a {font-size: 15px;}
    #section-a .heading h1{font-size: 2rem;}
    #section-b h3{font-size: 1.5rem;}
    #section-b a{font-size: 14px;}
}

@media(max-width:700px){
    #section-b .container {
        position: relative;
        top: -5rem;
    }
    footer .connect li{
        font-size: 1.5rem;
        border: 1px solid #fff;
        padding: 10px 1rem;
    }
}
@media (max-width: 600px){
    #section-b {top: -3rem}
    #section-a {font-size: 15px;}
    #section-a .header h1{font-size: 1.5rem;}
    .navabar-content {flex-direction: column;}
    .navabar-content li {width: 100%;}
    .navabar-content li:hover {background-color: rgb(246, 247, 243); color: #fff; transition: all 1s ease-in;}
    footer .connect li{ font-size: 1rem; border: 1px solid #fff; padding: 10px 1rem;}
    footer .contact h3{font-size: 1.2rem;}
    footer .connect h3{font-size: 1.2rem;}
    footer{font-size: 14px;}

}

@media(max-width:500px){
    #section-a {font-size: 12px;}
    #section-a .header h1{font-size: 1.5rem;}
    #section-a .header a {padding: 5px 10px;font-size: 12px;}
    #section-a .header h1{ line-height: 18px;}
    #section-a p{font-size: 12px;}
}
